*{                                                                   
    font-family: 'Averta Standard', sans-serif;
                                                
}
*, ::after, ::before {
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent,
}
body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
  
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: #e7332b;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.hero-container{
    height: 800px;
    background-image: url("https://zuri.team/img/hero-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.center-image{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 69px;
    margin-bottom: 50px;
}
.hero{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.hero h2{
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 30px;
}
.hero p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.btn-div{
    margin-top: 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    justify-content: center;
}

button{
    padding: 11px 28px;
    border: 1px solid #e7332b;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn-red{
    background-color: #e7332b;
    color: #fff;
}
.btn-red-outline{
    background-color: #fff;
    color: #e7332b;
}

.btn-red:hover{
    background-color: #fff;
    color: #e7332b;
  
}

.btn-red-outline:hover{
    background-color: #e7332b;
    color:#fff;
    
}


.program-content{
     margin : 4rem;
}
.slogan, .heading{
    text-align: center;
    
}
.heading{
    color: #e7332b;
    font-size: 14px;
    line-height: 24px;
    margin-top: 141px;
    font-weight: 500;
    margin-bottom: .5rem;
    
}

.slogan {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}

.programs .first-img{
    width: 25%;
    position: absolute;
    left: -120px;
    top: 1075px;
    z-index: -1;
}
.programs .second-img{
    width: 25%;
    position: absolute;
    right: -120px;
    top: 1075px;
    z-index: -1;
}
.program-card{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 4rem;
}

.program-card-content{
    background-color: #fffafa;
    width: 90%;
    padding: 3rem;
    
}

.content img{
    padding-bottom: 1rem;
    margin-bottom: 48px;
}

.footer hr{
    width: 90%;
    color: #514949;
    opacity: .9;
}

.program-card p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.program-card h3{
    font-size: 16px;
    margin-bottom: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}


footer{
    margin-top: 215px;
    margin-bottom: 8rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    
}

.contact p{
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
.footer-flex-container{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 56px;
    padding: 20px;
}

.footer-flex-container .image img{
    margin-top: 1.2rem;
    
}

.follow .contact-icons {
      display: flex;
      gap: .5rem;
}
.follow .contact-icons img{
    height: 1.2rem;
}

.copyright{
    text-align: center;
    margin-top: 1.5rem;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}






@media(max-width: 1200px){
    .programs .first-img, .programs .second-img{
        display: none;
    }
}

@media(max-width: 991px){
    .program-card{
        flex-direction: column;
    }

        .program-card-content{
            background-color: #fffafa;
            width: 100%;
            padding: 3rem;
            
        }
    }


@media(max-width: 768px){
    .center-image{
        padding-top: 9rem;
    }
    .hero-container{
        height: auto;
    }
    .hero h2{
        font-size: 28px;
        line-height: 34px;
    }
    .btn-div{
        margin-bottom: 50px;
        flex-direction: column;
    }
    button{
        display:block;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .program-card{
        flex-direction: column;
    }

    .footer-flex-container{
        flex-direction: column;
        align-items: center;
    }
    .contact{
        text-align: center;
    }

   



}

@media(max-width: 200px){
    .program-card{
        flex-direction: column;
    }
     
    .program-card-content{
        width: 85%;
    }
   
     .footer-flex-container{
        flex-direction: column;
        align-items: center;
    }

    .contact{
        text-align: center;
    }
}